body{
    background-image: url(57cd7c195409629.Y3JvcCwxMzQyLDEwNTAsMjksMA.jpg); background-attachment: fixed; 
    
}

img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    left: 600px;  
}


h1{
    position: relative;
    left: 600px;
}


h2{
    position: relative;
    left: 650px;
}

h3.A{
    position: relative;
    left: 470px;
}

h3.B{
    position: relative;
    left: 550px;
}


table.C{
    position: relative;
    left: 400px;
}

p.D,p.E,p.F{
    position: relative;
    left: 650px;
}


p.G{
    position: relative;
    left: 700px;
    top: 20px;
}


hr.H{
    position: relative;
    top: 12px;
}


a.I{
    position: relative;
    left: 600px;
    top:19px;
}

a.J{
    position: relative;
    left: 800px;
}

h6.uni{
    position: relative;
    left: 600px;
    top: 80px;
}

p.K{
    position: relative;
    top: 10px;
}