body{
    background-image: url(57cd7c195409629.Y3JvcCwxMzQyLDEwNTAsMjksMA.jpg); background-attachment: fixed; 
    
}

img{
    width: 200px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    left: 600px;  
}


h1{
    position: relative;
    left: 600px;
}
